# requirements.txt
# This file lists the essential Python packages required to run the AegisLens application.
# It is recommended to install these in a virtual environment.
#
# To install, run:
# pip install -r requirements.txt

# Core web framework for the user interface
streamlit==1.46.1
streamlit-shap==1.0.2

# For numerical operations, the foundation of our ML libraries
numpy==2.2.6

# Primarily used in the notebooks for data analysis and manipulation
pandas==2.3.0

# For the machine learning model (RandomForestClassifier)
scikit-learn==1.7.0

# For serializing and loading the trained model and explainer objects
joblib==1.5.1

# For model explainability (SHAP values) and plotting
shap==0.48.0
matplotlib==3.10.3

# For parsing HTML to extract live features
beautifulsoup4==4.13.4

# For making request to feature extractor
requests==2.32.4
